<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wuwei.gardemanager.mapper.GradeMapper" >
      <select id="getGrade" parameterType="java.lang.Integer" resultType="com.wuwei.gardemanager.entity.Grade">
          select * from grade where gid = #{gid}
      </select>
</mapper>